<template>
  <user-card-list :user-list="userList" />
  <van-empty v-if="!userList || userList.length < 1" description="搜索结果为空" />
</template>

<script setup lang="ts">
import { onMounted, ref } from "vue";
import { useRoute } from "vue-router";
import myAxios from "../plugins/myAxios";
import { Toast } from "vant";
import qs from "qs";
import UserCardList from "../components/UserCardList.vue";
import { UserType } from "../models/user";

const route = useRoute();
const { tags } = route.query;

const userList = ref([]);

onMounted(async () => {
  const userListData = await myAxios
    .get("/user/search/tags", {
      params: {
        tagNameList: tags,
      },
      paramsSerializer: (params) => {
        return qs.stringify(params, { indices: false });
      },
    })
    .then(function (response) {
      console.log("/user/search/tags succeed", response);
      return response?.data;
    })
    .catch(function (error) {
      console.error("/user/search/tags error", error);
      Toast.fail("请求失败");
    });
  if (userListData && userListData.length > 0) {
    userListData.forEach((user: UserType) => {
      if (user.tags) {
        user.tags = JSON.parse(user.tags);
      }
    });
    userList.value = userListData;
  }
});
</script>

<style scoped></style>
